.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .App-logo:hover {
    transform: scale(1.1);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid #61dafb;
}

.App-link {
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.App-link:hover {
  color: #21a1f1;
  border-bottom: 2px solid #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
